body {
    margin: 0px;
    background-image: url("table.png");
    background-size: cover;
    text-align: center;
}

#greeting {
    color: antiquewhite;
    font-weight: bold;
}

.card-container {
    border: 2px solid red;
    display: flex;
}

.player {
    border: 2px solid black;
    flex: 1;
}

.dealer {
   border: 2px solid red;
   flex: 1;
}